body {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Nunito", sans-serif;
}

.main-header .logo {
    font-family: "Nunito", sans-serif;
}

.auth-page {
    @extend .login-page;
    background-image: url("https://rodde.fhs.no/wp-content/uploads/2013/09/about-landscapes-nature.jpg");
    .login-box-body {
        border-radius: 5px;
    }
}

.login-logo {
    a {
        display: inline-block;
        border-radius: 5px;
    }
}