<template>
    <div>
        <div class="alert" :class="'alert-'+type" v-if="visible">
            <a href="#" class="close" @click="close()"><i class="fa fa-close"></i></a>
            <span v-html="message"></span>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                visible: true,
            }
        },
        props: ['message', 'type'],
        methods: {
            close() {
                this.visible = false;
            },
            autoHide() {
                var vm = this;
                setTimeout(function () {
                    vm.close();
                }, 15000)
            }
        },
        mounted() {
            this.autoHide();
        }
    }
</script>