<template>
    <div class="delete-dialog">
        <button type="button" class="btn btn-danger btn-xs" @click="showModal">
            <i class="fa fa-trash"></i>
        </button>
        <div ref="deleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="hideModalWithYes">Yes</button>
                        <button type="button" class="btn btn-default" @click="hideModal">No</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<style>
    .delete-dialog {
        display: inline-block;
    }
</style>

<script>
    export default {
        data() {
            return {
                message: 'Are you sure you want to delete?'
            }
        },
        props: ['url', 'method'],
        methods: {
            showModal() {
                $(this.$refs.deleteModal).modal('show')
            },
            hideModal() {
                $(this.$refs.deleteModal).modal('hide')
                return true;
            },
            hideModalWithYes() {
                this.deleteItems()
            },
            deleteItems() {
                var vm = this;
                axios({method: this.method, url: this.url}).then(function (response) {
                    vm.message = response.data.message;
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                });
            }
        }
    }
</script>