<template>
    <div class="form-group">
        <label class="control-label col-sm-2">Desktop Thumbnail image:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" v-model="thumbnail_url">
            <img src="">
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                video_url: 'http://img.youtube.com/vi/',
                video_id: '8nGFWWJLHio',
            }
        },
        methods: {},
        computed: {
            thumbnail_url: function () {
                return this.video_url + this.video_id + '/0.jpg';
            },
            thumbnail: function () {
                axios.get(this.thumbnail_url).then(function ($res) {
                    console.log($res);
                });
            }
        },
        mounted() {
            this.thumbnail();
        }
    }
</script>